* {
  background-color: whitesmoke;
  font-family: monospace;
  margin: 0;
  padding: 0;
}

#titulo {
  animation: parpadeo 3s infinite;
  color: #778DA9;
  text-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

@keyframes parpadeo {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.titulo-principal {
  background-color: #1B263B;
  font-family: monospace;
  color: #E0E1DD;
  font-size: 30px;
  font-weight: bold;
  text-shadow: grey 0px 5px 5px;
  margin: 0;
  text-align: center;
}

#icono-carrito {
  color: #778DA9;
  cursor: pointer;
  transition: color 0.3s ease;
}
#icono-carrito:hover {
  color: #007bff;
}

#cerrar-carrito {
  color: white;
  background-color: red;
  border: none;
  height: auto;
  width: 20px;
  cursor: pointer;
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
}

#lista-carrito {
  font-family: cursive;
  font-weight: bold;
  font-size: 2rem;
  color: black;
  text-align: center;
}

#total-carrito {
  font-family: cursive;
  font-size: 1.2rem;
  color: black;
  text-align: center;
}

#carrito-container {
  background-color: #415A77;
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 15px;
  width: 300px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: none;
}

#carrito-container.mostrar {
  display: block;
}
#carrito-container.mostrar .btn-blue {
  background-color: #007bff;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: fantasy;
}

.navegacion {
  background-color: #1B263B;
}

.navegacion ul {
  list-style: none;
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 0;
  padding: 2px;
}
.navegacion ul li {
  font-family: monospace;
  text-align: center;
  font-size: 1.2rem;
  text-decoration: none;
  padding: 5px;
}
.navegacion ul li a {
  color: #415A77;
  text-decoration: none;
  text-align: center;
  font-family: fantasy;
  font-size: 1.3rem;
}
.navegacion ul li a:hover {
  color: #778DA9;
}

label {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #333;
}

select {
  width: 100%;
  padding: 0.7rem 1rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  color: #333;
  transition: all 0.3s ease;
}

.productos {
  background-color: #1B263B;
}
.productos h2 {
  color: #0D1B2A;
  font-size: 1.8rem;
  font-family: monospace;
  text-align: center;
  font-weight: bold;
}
.productos h5 {
  font-family: fantasy;
  font-size: x-large;
  font-weight: bold;
  color: #1B263B;
  text-align: center;
}
.productos p {
  font-family: cursive;
  font-weight: bold;
  font-size: 1.2rem;
  color: #0D1B2A;
  text-align: center;
}

.productos img {
  object-fit: cover;
  width: 100%;
  height: 20vh;
}
.productos .row {
  justify-content: center;
}
.productos .col-md-4 {
  flex: 0 0 15%;
  max-width: 25%;
  padding: 10px;
}
.productos .card {
  font-size: 0.9rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.productos .card .card-img-top {
  height: 25vh;
  width: 100%;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}
.productos .card .card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.productos .card .card-body h5 {
  margin-bottom: 10px;
}
.productos .card .card-body p {
  font-weight: bold;
  color: #333;
}
.productos .card .card-body .btn {
  align-self: flex-start;
}
.productos .productos .col {
  width: 100%;
  padding: 10px;
}
@media (min-width: 576px) {
  .productos .productos .col {
    width: 50%;
  }
}
@media (min-width: 768px) {
  .productos .productos .col {
    width: 33.33%;
  }
}
@media (min-width: 992px) {
  .productos .productos .col {
    width: 25%;
  }
}

#formulario-carrito {
  background-color: white;
  color: black;
  font-family: monospace;
}
#formulario-carrito h2 {
  text-align: center;
  font-family: monospace;
  font-size: 1.5rem;
  font-weight: bold;
}
#formulario-carrito label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}
#formulario-carrito input[type=text],
#formulario-carrito input[type=email] {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
}
#formulario-carrito button {
  background-color: #778DA9 !important;
  color: black;
  text-decoration: none;
  font-family: fantasy;
  font-size: 1.2rem;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#formulario-carrito button:hover {
  background-color: #415A77;
  transform: scale(1.1);
}

#contenedor-productos col-md-4 {
  padding: 10px;
}
@media (max-width: 768px) {
  #contenedor-productos col-md-4 {
    width: 100%;
  }
}
#contenedor-productos .card {
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
#contenedor-productos .card .card-img-top {
  height: 200px;
  object-fit: cover;
}
#contenedor-productos .card .card-body {
  padding: 1rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
#contenedor-productos .card .card-body .card-title {
  font-size: 2rem;
  font-family: cursive;
  font-weight: bold;
  margin-bottom: 0.5rem;
  font-weight: bold;
}
#contenedor-productos .card .card-body .card-text {
  font-size: 1.5rem;
  color: black;
  margin-bottom: 1rem;
}
#contenedor-productos .card .card-body .btn-comprar {
  align-self: center;
  padding: 0.5rem 1.2rem;
  font-weight: 600;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.footer {
  position: relative;
  background-color: #1B263B;
  text-align: center;
}
.footer p {
  background-color: #1B263B;
  color: #E0E1DD;
  text-align: center;
  font-family: monospace;
  font-size: 1.2rem;
}

.fa-instagram {
  background-color: #1B263B;
  font-size: 30px;
  text-decoration: none;
  color: violet;
  font-weight: bold;
  transition: color 0.3s ease;
}
.fa-instagram:hover {
  color: darkviolet;
}

.fa-whatsapp {
  background-color: #1B263B;
  font-size: 30px;
  text-decoration: none;
  color: green;
  font-weight: bold;
  transition: color 0.3s ease;
}
.fa-whatsapp:hover {
  color: darkgreen;
}

.footer-links {
  background-color: #1B263B;
}

.carrito-oculto {
  display: none;
}

#carrito-container.mostrar {
  display: block;
}

.fa-shopping-cart {
  font-size: 30px;
  color: #415A77;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;
}

.fa-shopping-cart:hover {
  color: #415A77;
  transform: scale(1.2);
}

.btn {
  background-color: #778DA9 !important;
  color: #E0E1DD;
  text-decoration: none;
  font-weight: bold;
  font-family: fantasy;
  font-size: 1rem;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.btn:hover {
  background-color: #415A77;
  transform: scale(1.1);
}

.carousel-inner {
  height: 100%;
}
.carousel-inner .carousel-item {
  height: 100%;
}
.carousel-inner .carousel-item img {
  max-height: 600px;
  max-width: 100%;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.boton-toggle {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
}

.categorias {
  display: none; /* oculto por defecto */
  margin-bottom: 20px;
}

.categorias button {
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}

.productos {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.producto {
  width: 200px;
  border: 1px solid #ccc;
  text-align: center;
  padding: 10px;
}

.producto img {
  width: 100%;
  height: auto;
}

.oculto {
  display: none;
}

.card {
  width: 220px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
  background-color: #f9f9f9;
}
.card .card-img {
  width: 100%;
  height: 20vh;
  border-radius: 5px;
}
.card button {
  margin-top: 10px;
  padding: 0.5rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
}

#contenedor-productos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
#contenedor-productos .card-img-top {
  width: 100%;
  height: 25vh;
  border-radius: 10px;
  object-fit: cover;
}

/*# sourceMappingURL=css.style.css.map */
